<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>AI Advice for Reducing Emmissions</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='earth.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <img src="{{ url_for('static', filename='earth.png') }}" class="icon" />

  <h1> Take a questionaire to find out how you can reduce your CO2 Emissions </h1>
  <h2> Powered by GPT Davinci-3</h2>
</head>

<body>
  <a href="{{ url_for('individual') }}" class="button">Individual Questionnaire and Report</a>
  <br>
  <a href="{{ url_for('business') }}" class="button">Business Questionaire and Report</a>
  <br>
  <a href="{{ url_for('co2_footprint') }}" class="button">CO2 footprint</a>
</body>

</html>
