<!DOCTYPE html>
<head>
  <title>AI Advice for Reducing Emmissions</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='earth.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />

  <form action="/thisIsTheNameOfRedirect" method="post">
    <h3>Do you eat meat?</h3>
    <input type="text" name="Do you eat meat?" placeholder="(Y/N)" required />

    <h3>Do you use public transport?</h3>
    <input type="text" name="Do you use public transport?" placeholder="(Y/N)" required />

    <input type="submit" value="Submit" />
  </form>

  {% if output %}
    <div class="result">
        <p>{{ output }} </p>
    </div>
  {% endif %}


</body>
