<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <title></title>
</head>
<body>
  <form action="/reduce_co2_emissions" method="post">

  <h3>Enter any additional comments:</h3>
  <textarea name="additional_comments" placeholder="Enter your message here"></textarea>
        <br>
        <button type="submit">Submit</button>

      

      
  </form>

  {% if output %}
    <div class="result">
    
        <p>{{ output }} </p>
    </div>
  {% endif %}
</body>
</html>